h1{
  color: #66BFBF;
  font-size: 5.5rem;
  margin: 0.2rem auto 0rem auto;
  font-family: Rampart One;
  font-weight: 500;
}

body{
  margin: 0rem;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.navbar{
  position: fixed;
  width: 100%;
  z-index: +1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0f868a;
  font-weight: 500;
}

li {
  float: left;
  font-family: Kaisei Tokumin;
}

.login {
  float: right;
}

li a {
  display: block;
  color: #ffff;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
}

li a:hover {
  background-color: #61C0BF;
  text-decoration: underline;
  transition:all.5s ease;
}

.intro{
  width: 50%;
  margin: 0rem auto 4.375rem auto;
  padding-top: 3rem;
}

.logo{
  width: 22%;
}

hr{
  border-style: dotted none none none;
  width: 25%;
  border-color: #505050; 
  border-width: 0.5rem;
  margin-bottom: 0rem;
}

h2 {
  color: #66BFBF;
  font-size: 2rem;
  font-family: 'Montserrat' sans-serif;
  text-decoration: underline;
}

#subtitle {
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  font-family: Fredoka One;
  text-decoration: none;
}

#hello {
  font-family: Kaisei Tokumin;
  text-decoration: none;
}
#desc {
  font-family: Kaisei Tokumin;
}

#titles {
  font-family: Kaisei Tokumin;
}

#contact {
  font-family: Kaisei Tokumin;
}

h3 {
  color: #ffffff;
  font-family: 'Montserrat' sans-serif;
  font-weight: bolder;
}

h3 a:visited  {
  text-decoration: none; 
  color: #e6e6e6;
}

h3 a:link {
  text-decoration: none;
  color: #ffffff;
}

h3 a:active {
  text-decoration: underline;
  color: blue;
}

h4 {
  text-decoration: none;
  font-family: Assistant;
  font-weight: 300;
}

.top-container {
  /*
  border: solid 10px;
  padding: 20px;
  width: 200px;
  height: 200px; */
  background-color: #EAF6F6;
}

.middle-container {
  background-color: #EAF6F6
}

.bottom-book {
  position: relative;
  right: 25rem;
  top: 0rem;
  padding-top: 3rem;
  width: 7rem;
  height: 7rem;
}

.top-book {
  position: relative;
  left: 25rem;
  top: 0rem;
  padding-top: 3rem;
  width: 7rem;
  height: 7rem;
}

.releases{
  margin: 2rem auto 4.375rem auto;
  padding: 0.625rem;
}

.release-row{
  width: 50%;
  margin: 3rem auto 5rem auto;
  text-align: left;
  line-height: 1.5;
  padding: 2rem;

  background-color: #0d6f73;
  border-radius: 4px;
  box-shadow: 0 1.8px 4.5px 1.8px;
}

.book-click{
  font-family: Handlee;
  font-size: 1.7rem;
  font-weight: 800;
  text-decoration: none;
}

.book-click:hover {
  text-decoration: underline;
}

.spirits-image{
  width: 25%;
  float: left;
  margin-right: 1.875rem;
}

.billy-image{
  width: 25%;
  float: right;
  margin-left: 1.875rem;
}

.sotg-image{
  width: 25%;
  float: left;
  margin-right: 1.875rem;
}

.eden-image{
  width: 25%;
  float: right;
  margin-left: 1.875rem;
}

.blurb{
  font-family: Assistant;
  font-size: small;
  text-align: justify;
  color: #e6e6e6;
}

.contact-button {
  -webkit-border-radius: 0.813rem;
  -moz-border-radius: 0.813rem;
  border-radius: 0.813rem;
  color: #66BFBF;
  font-family: Trebuchet MS;
  font-size: 1.563rem;
  font-weight: 600;
  padding: 2rem 2.5rem 2rem 2.5rem;
  background-color: #EAF6F6;
  border: solid #66BFBF 0.3rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contact-button:hover {
  background: #c2ecf0;
  border: solid #66BFBF 0.313rem;
  -webkit-border-radius: 0.813rem;
  -moz-border-radius: 0.813rem;
  border-radius: 0.813rem;
  text-decoration: underline;
}

.contact-button:link{
  text-decoration: none;
}



.bottom-container {
  background-color: #EAF6F6;
  margin: 0rem auto 0rem auto;
  padding-top: 3.125rem;
} 

.policy{
  font-family: Assistant;
  font-size: small;
  text-align: center;
}


.links{
  margin: 1.25rem auto 0rem auto;
  background-color: #81caca;
  padding-bottom: 10px;
}

.socials{
  width: 5%;
  padding: 0rem;
  margin: 1.25rem auto 1.25rem auto;
}

.copyright{
  font-size: x-small;
  color: #0f868a;
  margin-bottom: 0rem;
}

.privacy-policy {
  color:#0f868a;
}

.privacy-policy:visited {
  text-decoration: none;
  color:#0f868a;
}

.privacy-policy:link {
  text-decoration: none;
  color:#0f868a;
  font-size: x-small;
}

.privacy-policy:hover {
  text-decoration: underline;
}



