h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 10px auto 0px auto;
  font-family: 'Sacramento', cursive;
}

body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.intro{
  width: 50%;
  margin: 70px auto 70px auto;
}

.logo{
  width: 25%;
}

hr{
  border-style: dotted none none none;
  width: 25%;
  border-color: #505050; 
  border-width: 8px;
}

h2 {
  color: #66BFBF;
  font-size: 2rem;
  font-family: 'Montserrat' sans-serif;
  text-decoration: underline;
}

#hello {
  text-decoration: none;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat' sans-serif;
  font-weight: bolder;
}

.top-container {
  /*
  border: solid 10px;
  padding: 20px;
  width: 200px;
  height: 200px; */
  background-color: #EAF6F6;
}

.middle-container {
  
}

.bottom-book {
  position: absolute;
  left: 200px;
  width: 10%
}

.top-book {
  position: relative;
  left: 400px;
  top: 5px;
  width: 10%;
}

.releases{
  margin: 70px auto 70px auto;
  padding: 10px;
}
.release-row{
  width: 50%;
  margin: 50px auto 150px auto;
  text-align: left;
  line-height: 1.5;
}

.book-click:hover {
  text-decoration: underline;
}

.spirits-image{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.billy-image{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.sotg-image{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.tsiasos-image{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-button {
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  color: #424874;
  font-family: Trebuchet MS;
  font-size: 25px;
  font-weight: 600;
  padding: 39px;
  background-color: #DCD6F7;
  border: solid #424874 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contact-button:hover {
  background: #97A6E9;
  border: solid #424874 5px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  text-decoration: underline;
}

.bottom-container {
  margin: 70px auto 0px auto;
} 

.links{
  margin: 20px auto 0px auto;
  background-color: #81caca;
  padding-bottom: 10px;
}

.socials{
  width: 5%;
  padding: 0px 0px 0px 0px;
  margin: 20px auto 20px auto;
}

.linkedin{
}

.subtitle{
  font-weight: normal;
}

.copyright{
  font-size: x-small;
  color: #0f868a;
  margin-bottom: 0px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



